* {
    margin: 0;
    padding: 0;
}
.inputs {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}
.slide {
    max-height: auto;
}
.imghotel {
    width: 100px;
    height: 100px;
}
.search {
    text-align: center;
}

